<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="panel panel-default">
      <div class="panel-body">
        
        <h1 class="static-page-header text-center">Privacy Policy</h1>
        Welcome to Floot (“Floot,” “we,” or “our”). This Privacy Policy describes Floot’s policies and procedures on the collection, use and disclosure of your information in connection with Floot services (collectively, the “Service” or “floot.cc”).<br />
        <br />
        <h3>
        Information Collection and Use</h3>
        We collect and use your information to provide our Services and improve them over time.<br />
        <br />
        <b>Information Collected Upon Registration:</b> When you create or reconfigure a Floot account, you provide some personal information, such as your name, username, password, and email address. Some of this information, for example, your name and username, may be listed publicly on our Services, including on your profile page, viewing lists, and in search results.<br />
        <br />
        <b>Additional Information:</b> You may provide us with additional information to make public, such as a a profile picture and the content of information you post to the Services (e.g., text, video, pictures, links). Posts are shown publicly for 24:00 hours then archived. Please note that, when you delete your account, the posts you submit through the Services are deleted from our servers and cannot be retained.<br />
        <br />
        <b>Log Data:</b> We automatically record information (“Log Data”) created by your use of the Services. Log Data may include information such as your IP address, browser type, the referring domain, pages visited, and search terms.<br />
        <br />
        <b>Cookies:</b> Like many websites, we use “cookie” technology to collect additional website usage data and to improve our Services, but we do not require cookies for many parts of our Services such as searching and looking at public user profiles or viewing lists. A cookie is a small data file that is transferred to your computer’s hard disk. Floot.cc may use both session cookies and persistent cookies to better understand how you interact with our Services, to monitor aggregate usage by our users and web traffic routing on our Services, and to improve our Services. Most Internet browsers automatically accept cookies. You can instruct your browser, by editing its options, to stop accepting cookies or to prompt you before accepting a cookie from the websites you visit.<br />
        <br />
        <b>Third Party Services:</b> floot.cc uses a variety of services hosted by third parties to help provide our Services, and to help us understand the use of our Services, such as Google Analytics. These services may collect information sent by your browser as part of a web page request, such as cookies or your IP request.<br />
        <h3>
        How We Use Information About You</h3>
        We use information about you to:<br />
        <ul>
          <li>Provide, maintain, and improve the Services.</li>
          <li>Monitor and analyze trends and usage.</li>
          <li>Enhance the safety and security of our products and services.</li>
          <li>Use information we’ve collected from cookies and other technology to enhance the services and your experience with them.</li>
          <li>Provide customer service.</li>
        </ul>
        <h3>
        How We Share Information</h3>
        When you use the Services, certain information may be shared with other users and the public. For example:<br />
        <ul>
          <li>When you submit a post or comment to the Services, visitors to and users of our Services will be able to see the content of your posts and comments, the username associated with your posts or comments, and the date and time you originally submitted the post or comment.</li>
          <li>When other users view your profile, they will be able to see information about your activities on the Services, such as your username, profile picture, posts and comments, and Floot Points.</li>
        </ul>
        We may share information (and will attempt to provide you with prior notice, to the extent legally permissible) in response to a request for information if we believe disclosure is in accordance with, or required by, any applicable law, regulation, legal process or governmental request, including, but not limited to, meeting national security or law enforcement requirements.<br />
        <br />
        We may share information in response to an emergency if we believe it's necessary to prevent imminent and serious bodily harm to a person; We may share information if we believe your actions are inconsistent with our user agreements, rules, or to protect the rights, property, and safety of ourselves and others.<br />
        <h3>
        Accessing and Modifying Your Personal Information</h3>
        If you are a registered user of our Services, we provide you with tools to access or modify the personal information you provided to us and associated with your account.
        <h3>
        Social Sharing</h3>
        We may offer social sharing features or other integrated tools that let you share content on our Services with other media. Your use of these features enables the sharing of certain information with your friends or the public, depending on the settings you establish with the third party that provides the social sharing feature. For more information about the purpose and scope of data collection and processing in connection with social sharing features, please visit the privacy policies of the third parties that provide these social sharing features (e.g., Tumblr, Facebook, Pinterest, and Twitter).
        <h3>
        Children</h3>
        Our services are not intended for or directed towards anyone under 13. If we become aware that a child under 13 has provided us with personal information, we take steps to remove such information and terminate the child’s account.
        <h3>
        Changes to this Policy</h3>
        We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at http://floot.cc/privacy. If we make a change to this policy that, in our sole discretion, is material, we will notify you via an floot.cc update or e-mail to the email associated with your account. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.
        <h3>
        Contact Us</h3>
        If you have any questions about this Privacy Policy, please email legal@floot.cc.<br />
        <br />
        Effective: December 28, 2016<br />
      </div>
    </div>
  </div>
</div>